@font-face {
  font-family: 'Satoshi-BoldItalic';
  src: url('../fonts/Satoshi-BoldItalic.woff2') format('woff2'),
       url('../fonts/Satoshi-BoldItalic.woff') format('woff'),
       url('../fonts/Satoshi-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/Satoshi-Bold.woff2') format('woff2'),
       url('../fonts/Satoshi-Bold.woff') format('woff'),
       url('../fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Panchang-Extralight';
  src: url('../fonts/Panchang-Extralight.woff2') format('woff2'),
       url('../fonts/Panchang-Extralight.woff') format('woff'),
       url('../fonts/Panchang-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* h1 styling */
.h1 {
  color: #ffffe4;
  font-size: 70px;
  font-weight: 500;
  font-family: 'Panchang-Extralight';
  margin: 10px 0; /* Space between the h1 elements */
}
.h2 {
  color: #ffffe4;
  font-size: 75px;
  font-weight: 500;
  padding: 0;
  font-family: 'Panchang-Extralight';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}